/* Calendar Container */
.calendar {
  font-family: Arial, sans-serif;
  width: 60vw;
  height: 60vh;
  margin: 0 auto;
  padding: 3vh 4.5vw;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Calendar Header */
.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: ce;
  margin-bottom: 10px;
  margin-left: 0;
  color: azure;
}

.calendar-header h2 {
  margin: 0;
}

/* Calendar Grid */
.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.calendar-day {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin: 3px;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: azure;
}

.empty {
  visibility: hidden;
}

/* Next/Prev Buttons */
button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 3px;
  cursor: pointer;
}

button:focus {
  outline: none;
}

/* Space for Text */
.text-space {
  margin-top: 20px;
  /* Add more styling for the text space as needed */
}
