#grade{
    color: azure;
    margin-bottom: 0vh;
}
/* CSS Styles for Grades Viewer */

.grades {
    display: flex;
    flex-direction: column;
    border: 1px solid #47454586;
    margin-right: 3%;
    margin-bottom: 2%;
    box-shadow: 3px 3px 5px #86818186;
  }
  
  .grades-row {
    display: flex;
  }
  
  .grades-cell {
    flex: 1;
    height: 8vh;
    width: 8vw;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    
    
  }
  
  #marks{
    transition: 200ms ease-in-out;
    cursor: pointer;

  }
  #marks:hover{
    background-color: #414141df;
    transform: scale(1.01);
    border-radius: 5%;
    box-shadow: 2px 2px 3px #8d8989;
  

  }
  .empty {
    background-color: #ffffff41;
    font-weight: bold;
  }
  
  .mark-type {
    background-color: #262626;
    font-weight: bold;
    color: rgb(200, 213, 213);
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  
  .subject-name {
    background-color: #262626;
    font-weight: bold;
    color: rgb(200, 213, 213);
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  #quotes{
    margin-top: 2vh;
    color: azure;
    margin-bottom: 0;
    display: inline;
  }