/* src/components/Hero/Hero.css */
.hero-container {
    position: relative;
    overflow: hidden;
    height: 30vh; /* Make the container full viewport height */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 0;
    justify-content: center;
  }
  
  .hero-image {
    display: block;
    border-radius: 0px;
    opacity: 1;
    width: 100%; /* Make the image width responsive */
    height: auto; /* Allow the image to adjust its height while maintaining aspect ratio */
    object-fit: cover; /* Clip the image to cover the container while maintaining aspect ratio */
    object-position: center 50%; /* Adjust the clipping position to the top */
  }
  